.feedback {
  background-color: rgb(132, 202, 52);
  border-radius: 30px;
  color: white;
  padding: 60px;
}

.feedback h1 {
  font-size: 70px;
  margin: 0;
  padding: 0;
}

.feedback p {
  font-size: 35px;
  text-align: center;
}

.feedback div {
  display: flex;
  justify-content: space-around;
}

.feedback button {
  background-color: rgb(177, 0, 184);
  border: 3px solid #333;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin-top: 80px;
  padding: 10px 20px;
}

.feedback button:active {
  background-color: rgb(222, 52, 228);
}