.feedback {
  color: white;
  background-color: rgb(132, 202, 52);
  padding: 60px;
  border-radius: 15px;
}
.feedback h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}
.feedback p {
  font-size: 35px;
  text-align: center;  
}
.feedback div {
  display: flex;
  justify-content: space-around;
}
.feedback button {
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(177, 0, 184);
  margin-top: 80px;
}