.timer {
  font-size: 25px;
  text-align: center;
  color: rgb(249, 251, 120);
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 3px;
}

.timer-even {
  background-color: rgb(52, 80, 19);
  transition: 200ms;
}

.timer-odd {
  background-color: rgb(71, 95, 43);
  transition: 200ms;
}

.timer-ten-sec-even {
  background-color: rgb(255, 251, 0);
  color: red;
  font-size: 30px;
  transition: 100ms;
}

.timer-ten-sec-odd {
  background-color: rgb(255, 254, 185);
  color: red;
  font-size: 30px;
  transition: 100ms;
}
